{% extends "login/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
<title>Log in</title>
{% endblock %}

{% block content %}
<div class="flex flex-col max-w-3xl mx-auto mt-3 items-center rounded-xl p-5 mt-10 bg-slate-100 shadow-md pl-7 pr-7 ">
    <h1 class='text-3xl leading-6 font-bold text-gray-700 mb-4 mt-7 '>Login</h1>
    <div class="mt-2 p-2">
        <form method="post" class="flex flex-col space-y-4 items-center input-area" onsubmit="return checkForm()">
            {% csrf_token %}
		{{ form|crispy }}
<div class="mb-3 items-center flex flex-col">
    <div class="captcha-area flex flex-row space-x-3">
      <div class="captcha-img">
        <span class="captcha"></span>
      </div>
      <button class="reload-btn bg-gray-300 rounded-md p-1" onclick="reload()">Refresh Code</button>
    </div>
      <input type="text" id='cap' placeholder="Code" class="m-2 rounded-md border-gray-300 border-1 px-4 py-2"  maxlength="6" spellcheck="false" required />
    <button type="submit" class="bg-blue-800 text-white w-40 h-10 rounded-md shadow-md hover:bg-blue-600 hover:text-gray-50">Log in</button>
        </form>
<div class="status-text"></div>
    </div>
</div>
</div>

<div class="max-w-2xl mx-auto items-end mr-30 mt-1 mb-10">
    <p class="text-right">Not register yet？
        <a class="text-right underline underline-offset-2 hover:text-gray-500" href="{% url "register" %}">Register</a>
    </p>
</div>
<script type="text/javascript">
const captcha = document.querySelector(".captcha")
const inputField = document.getElementById("cap")
const statusTxt = document.querySelector(".status-text")
//storing all captcha characters in array
let allCharacters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O',
                     'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd',
                     'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's',
                     't', 'u', 'v', 'w', 'x', 'y', 'z', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
function getCaptcha(){
  for (let i = 0; i < 6; i++) { //getting 6 random characters from the array
    let randomCharacter = allCharacters[Math.floor(Math.random() * allCharacters.length)];
    captcha.innerText += ` ${randomCharacter}`; //passing 6 random characters inside captcha innerText
  }
}
getCaptcha(); //calling getCaptcha when the page open
//calling getCaptcha & removeContent on the reload btn click
function reload(){
  removeContent();
  getCaptcha();
};

  function checkForm(){
  let inputVal = inputField.value.split('').join(' ');
  if(inputVal == captcha.innerText){ //if captcha matched
    return true;
  }else{
    statusTxt.style.color = "#ff0000";
    statusTxt.innerText = "code error";
    return false;
  }
};
function removeContent(){
 inputField.value = "";
 captcha.innerText = "";
 statusTxt.style.display = "none";
}
</script>
{% endblock %}

