{% extends "login/base.html" %}
{% load tailwind_filters %}
{% block title %}
<title>User Register</title>
{% endblock %}

{% block content %}
<div class="overflow-y-auto">
	
<div class="flex flex-col max-w-3xl mx-auto items-center rounded-xl mt-10 bg-slate-100 shadow-md px-7">
    <h1 class='text-3xl leading-6 font-bold text-gray-700 my-5'>User Register</h1>
    <div class="mt-2 p-2">
        <form method="post" onsubmit="return checkForm()">
            {% csrf_token %}
		{{ form|crispy }}
  <div class="mb-3">

      <div class="captcha-area flex flex-row space-x-3">
	<div class="captcha-img">
	  <span id="captcha"></span>
	</div>
	  <button class="reload-btn bg-gray-300 rounded-md p-1" onclick="reload()">Refresh Code</button>
      </div>
  <label class="block text-gray-700 text-sm font-bold mb-2">
	      Code<span class="asteriskField">*</span> </label> <input type="text" id='cap'  autofocus autocapitalize="none" maxlength="6" class="textinput focus:outline-none px-4 rounded-lg border-red-500 text-gray-700 bg-white appearance-none py-2 block w-full border leading-normal" required> </div> 
	      <button type="submit" class="mx-auto bg-blue-800 text-white w-full h-10 rounded-md shadow-md hover:bg-blue-600 hover:text-gray-50 hover:cursor-pointer">Register</button>

        </form>

<div class="status-text text-center"></div>
    </div>
</div>

<div class="max-w-2xl mx-auto items-end mr-30 mt-1 mb-10">
    <p class="text-right">Already Signed？
        <a class="text-right underline underline-offset-2 hover:text-gray-500" href="{% url "login" %}">Log in</a>
    </p>
</div>

</div>

<script type="text/javascript">
const captcha = document.getElementById("captcha")
const inputField = document.getElementById("cap")
const statusTxt = document.querySelector(".status-text")
//storing all captcha characters in array
let allCharacters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O',
                     'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd',
                     'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's',
                     't', 'u', 'v', 'w', 'x', 'y', 'z', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
function getCaptcha(){
  for (let i = 0; i < 6; i++) {let randomCharacter = allCharacters[Math.floor(Math.random() * allCharacters.length)];
    captcha.innerText += ` ${randomCharacter}`;   }
}
getCaptcha();
function reload(){
  removeContent();
  getCaptcha();
};

  function checkForm(){
  let inputVal = inputField.value.split('').join(' ');
  if(inputVal == captcha.innerText){ //if captcha matched
    return true;
  }else{
    statusTxt.style.color = "#ff0000";
    statusTxt.innerText = "code error";
    return false;
  }
};
function removeContent(){
 inputField.value = "";
 captcha.innerText = "";
 statusTxt.style.display = "none";
}
</script>
{% endblock %}
